@page
@model TuitionManagementSystemWebApp.Pages.Students.AddModel
@{
}

<h3>Add New Student</h3>

<form method="post">

 
     
    
     <div class="form-group">
       <label asp-for="@Model.FirstName"></label>
       <input asp-for="@Model.FirstName" class="form-control" />

    </div>

       <div class="form-group">
       <label asp-for="@Model.LastName"></label>
       <input asp-for="@Model.LastName" class="form-control" />

    </div>

    
    
       <div class="form-group">
       <label asp-for="@Model.DOB"></label>
       <input asp-for="@Model.DOB" class="form-control" />

    </div>

    
    
       <div class="form-group">
       <label asp-for="@Model.Age"></label>
       <input asp-for="@Model.Age" class="form-control" />

    </div>

    
    
    
       <div class="form-group">
       <label asp-for="@Model.Address"></label>
       <input asp-for="@Model.Address" class="form-control" />

    </div>

      
       <div class="form-group">
       <label asp-for="@Model.Gender"></label>
       <input asp-for="@Model.Gender" class="form-control" />

    </div>
    
       <div class="form-group">
       <label asp-for="@Model.Email" ></label>
       <input asp-for="@Model.Email" class="form-control" />

    </div>

      
       <div class="form-group">
       <label asp-for="@Model.MobileNumber"></label>
       <input asp-for="@Model.MobileNumber" class="form-control" />

    </div>

     
       <div class="form-group">
       <label asp-for="@Model.Mark"></label>
       <input asp-for="@Model.Mark" class="form-control" />

    </div>

      
       <div class="form-group">
       <label asp-for="@Model.TotalMark"></label>
       <input asp-for="@Model.TotalMark" class="form-control" />

    </div>
       
       <div class="form-group">
       <label asp-for="@Model.Status"></label>
       <select  asp-for="@Model.Status" asp-items = "@Model.StatusList"     class="form-control"></select>

    </div>

     <div>
       <div class="form-group">
       <label asp-for="@Model.TrainerId"></label>
       <input asp-for="@Model.TrainerId" class="form-control" />

    </div>


  
    <div class="form-group">
        <h6 class="text-success">@Model.SuccessMessage</h6>
        <h6 class="text-danger">@Model.ErrorMessage</h6>
        <h6 class="text-danger">@Html.ValidationSummary()</h6>
    </div>

    <div class = "row gx-0" >
        <button type="submit" class="col btn btn-primary me-1">SUBMIT</button>
        <a href = "/Students/List" class="col btn  btn-warning ms-1 border-secondary" role="button">Cancel</a>
    </div>
</form>

